@import '../../styles/mixins';
@import '../../styles/variables';

.Slideshow {
    //position: relative;
    width: 335px;
    height: 255px;
    //text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: red;
    border-radius: $border-radius;

    img {
        width: 335px;
        border-radius: 10px;
        
    }

    span {
        display: none;

        
    }

    .arrow_back , .arrow_forward{
        width: 30px;
        height: 30px;
       // position: absolute;
       // top: 50%;
       
       
        
        
    }
    .arrow_back {
      // left: 8%
       

    }
    .arrow_forward {
       // right: 8%;
    }
    &__arrows {
        display: flex;
        justify-content: space-between;

    }
    @include mediumMinBreakPoins {

        width: 1240px;
        height: 415px;
        border-radius: $border-radius-md;


        span {
            position: relative;
            display: block;
            text-align: center;
            color: $secondary-color;
            bottom: - 35%;
            
        }
        

            .arrow_back,.arrow_forward {
                width: 70px;
                height: 80px;
            }
        
       }
}