@import '../../styles/mixins';
@import '../../styles/variables';

.About {
   width: 375px;
   margin: auto;
   
   .Banner {
        img {
     
            height: 223px;
            object-fit: cover;
        }
   }
   
   // *** Responsive *** //

   @include tabletMinBreakPoint {
    width: $screen-tablet;
   }

   @include laptopMinBreakPoint {
    width: $screen-laptop;
   }

   @include largeMinBreakPoint {
    width: $screen-large;
   }
   

}