

.error_container {

    
    display: flex;
    
    flex-direction: column;

    &_message {
    
       
        list-style: none;
        a {
            text-decoration: underline;
        }
        
        &_number {
           
            font-size: 6rem;
            font-weight: 700;
        }
   
}
}
