$primary-color : #FF6060;
.error_container {
    font-family: "Montserra";
    
    display: flex;
    flex-direction: column;

    &_message {
    
        color: $primary-color;
        list-style: none;
        
        &_number {
            color: $primary-color;
            font-size: 96px;
        }
   
}
}
