@import '../../styles/mixins';
@import '../../styles/variables';

.Home {
   width: 375px;
   margin: auto;

   // *** Responsive *** //

   @include tabletMinBreakPoint {
    width: $screen-tablet;
   }
   @include laptopMinBreakPoint {
    width: $screen-laptop;
   }
   @include largeMinBreakPoint {
    width: $screen-large;
   }

}