.Card {
    position: relative;
    width: 335px;
    height: 225px;
    border-radius: 10px;
    top: 22px;
    left: 20px;
    background-color: orange;
    border-radius: 30px;

    p {
        text-align: center;
    }
}