@import '../../styles/variables';
@import '../../styles/mixins';

.Card {
    position: relative;
    width: 335px;
    height: 225px;
    border-radius: $border-radius;
    //top: 22px;
    //left: 20px;
    overflow: hidden;
    @include mediumMinBreakPoins {
        width: 340px;
        height: 340px;
    }


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(65%);

        
    }


    h2 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $secondary-color;
    }
}