@import '../../styles/mixins';
@import '../../styles/variables';


.TagLocation {
    width: auto;
    height: 18px;
    background-color:$primary-color ;
    border-radius: 5px;
    margin-right: 10px;

    
    p {
        color: $secondary-color;
        font-size: 10px;
        font-weight: 500;
        margin: 0.2rem 1rem 0 1rem;
     
       
    }

    @include mediumMinBreakPoins {

        height: 25px;
        border-radius: $border-radius;
        p {
            font-size:14px
        }
    }
}