@import '../../styles/mixins';
@import '../../styles/variables';


.TagLocation {
    width: 84px ;
    height: 18px;
    background-color:$primary-color ;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
        color: $secondary-color;
        font-size: 10px;
        font-weight: 500;
    }
}