@import '../../styles/variables';
@import '../../styles/mixins';

.Collapse {
   
    position: relative;

    &__container{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 335px ;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: $primary-color;
        z-index: 1;
    
        padding: 0 10px 0 10px;
        text-align: left; 
        font-weight: 500;

        .arrow-down {
           
            width: 19px;
            height: 19px;
            transform: rotate(0deg);
            transition: transform 0.5s ease-in-out;
        }
        .arrow-up {
            width: 19px;
            height: 19px;
            transform: rotate(180deg);
            transition: transform 0.5s ease-in-out;
        }

        p {
            color: $secondary-color;
            font-size: 13px;
        }

        @include mediumMinBreakPoins {
            width: 1023px;
            height: 47px;
            font-size: 24px;
            padding: 0 20px 0 20px;
            border-radius: 10px;

            .arrow-down, .arrow-up {
                width: 24px;
            }
            
        }
  
    }

    &__textContent {
       
        position: relative;
        display: table-cell;
        width: 335px;
        top:-5px;
        background-color: $tertiary-color;
        border-radius: 0 0 5px 5px;
        

        &_text {
           
            margin: auto;
            
            margin-top: 15px;
            margin-bottom: 15px;
            width: 320px;
            
            p {
                font-size: 12px;   
                
            }
            
        }
        
        @include mediumMinBreakPoins {

            width: 1023px;
            &_text {
                width: 960px;
                padding: 0 20px 0 20px;
                margin:  15px 0 15px 0;
              
            }

            p {
                font-size: 24px;
            }
        }
    }


}
