@import '../../styles/mixins';

.Gallery {
    width: 375px;
    margin: auto;
    margin-top: 43px;
   
    @include mediumMinBreakPoins {
        width: 1240px;
    }

    &__content {
        position: relative;
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 10px 0 40px 0;
    
        @include mediumMinBreakPoins {
            width: 1240px;
            gap: 60px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
           
        }

    }

}
