@import '../../styles/mixins';

.Footer {

    width: 375px;
    height: 209px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 122px;
        height: 40px; 
    }

    p {
        color: white;
        font-weight: 500;
        padding-top: 34px;
    }

    @include mediumMinBreakPoins {
        margin: auto;
        width: 1240px;
        margin-top: 40px;
        margin-bottom: 63px;

        p {
            font-size:24px
        }
    }
}

