@import '../../styles/mixins';

.Apart {
    
    width: 375px;
    
    &__slideshow {
        width: 375px;
        display: flex;
        justify-content: center;
       
    }
    @include mediumMinBreakPoins {
        position: relative;
        width: 1240px;
        margin: auto;
        margin-top: -30px;
        
        
        &__slideshow {
            width: 1240px;
            height: 415px;
        }
        
    }
}