@import '../../styles/variables';
@import '../../styles/mixins';

.Banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        
        position: relative;
        width: 335px;
        height: 111px;
        border-radius: $border-radius;
        filter: brightness(65%);

        @include mediumMinBreakPoins {
            width: 1240px;
            height: 223px;
            border-radius: $border-radius-md;
        }

    }
    h1 {
        position: absolute;
        color:$secondary-color;

         br {

            @include mediumMinBreakPoins {
                display: none;
            }

        }

       
    }
 
}
